:root {
  --primary-color: #555;
  --secondary-color: #333;
  --highlight-color: #e4b860;
  --borders-color: #ddd;
  --text-color: #000;
}

body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

.breadcrumb {
  font-size: 14px;
  margin-bottom: 10px;
  gap: 10px;
}

.breadcrumb a {
  text-decoration: none;
  color: var(--primary-color);
}

.breadcrumb span {
  color: var(--text-color);
  font-weight: bold;
}

.stock-status {
  font-size: 14px;
  margin-bottom: 20px;
}

.stock-status label {
  display: block;
  margin-bottom: 5px;
}

.no-products {
  background-color: var(--highlight-color);
  padding: 10px;
  color: var(--text-color);
  border-radius: 5px;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.no-products i {
  margin-right: 10px;
}

.search-bar {
  margin-top: 20px;
  position: relative;
  display: flex;
  align-items: center;
}

.search-bar input {
  flex: 1;
  padding: 10px 10px 10px 30px; /* Adjusted padding for icon */
  font-size: 14px;
  border: 1px solid var(--borders-color);
  border-radius: 5px;
}

.search-bar button {
  position: absolute;
  background-color: transparent;
  color: var(--primary-color);
  border: none;
  cursor: pointer;
  right: 20px;
}

.search-bar button i {
  font-size: 18px;
}

.search-bar button:hover {
  background-color: var(--secondary-color);
}

/* Layout for desktop */
.main-product-area-inner {
  display: flex;
  gap: 20px;
}

.sidebar {
  width: 25%;
}

.content {
  width: 75%;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .main-product-area-inner {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
  }

  .content {
    width: 100%;
  }

  .search-bar input,
  .search-bar button {
    font-size: 12px;
    padding: 8px;
  }
}

@media (max-width: 480px) {
  .breadcrumb {
    font-size: 12px;
  }

  .no-products {
    font-size: 12px;
    padding: 8px;
  }

  .search-bar button {
    right: 10px;
  }
}
