* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none !important;
}

.lubranta-logo {
  max-width: 100px;
}

.lubranta-icon.mb-4>img {
  max-width: 160px;
}

.bg {
  background-image: url(../image/background-image.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.product-inner2 {
  width: 50%;
}

.producted {
  width: 100%;
}

.dropdown-menu {
  border: none;
  z-index: 1050;
}

.dropdown-item:hover {
  color: #fff;
  background-color: #495057;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-menu.new {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  margin-left: 0.1rem;
  z-index: 1060;
}

.dropdown-submenu:hover .dropdown-menu.new {
  display: block;
}

@media (max-width: 767.98px) {
  .dropdown-menu {
    position: static;
  }

  .dropdown-submenu:hover .dropdown-menu.new {
    display: block;
  }

  .dropdown-menu {
    width: 100%;
  }

  .dropdown-menu.new {
    left: 0;
    margin-left: 0;
    top: 31px;
  }
}

.view-more-btn {
  background-color: #b42423 !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: #000;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #f00;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
  color: rgba(248, 0, 0, 0.75);
}

.h3,
h3 {
  font-size: calc(1.3rem + -0.4vw);
}

.producted {
  display: flex;
}

.main-image {
  width: 60%;
  margin-bottom: 15px;
}

.image-row {
  width: 48%;
  margin-bottom: 10px;
}

.image-row-container {
  display: flex;
  justify-content: space-between;
}

body {
  background-color: #f2f2f2;
}

.core-values {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.core-value img {
  width: 50px;
  height: 50px;
}

.elementor-background-overlay {
  position: relative;
  z-index: 1;
}

.elementor-background-overlay::before {
  content: '';
  background-image: url(../image/1-1.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  background-attachment: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.elementor-background-overlay::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.image-fluid {
  position: relative !important;
}

.service-item {
  position: relative;
}

.service-icon-main {
  position: absolute;
  top: 75%;
  width: 74%;
  display: flex;
  background: black;
  color: #fff;
  right: 0;
}

.bg-dark {
  background-color: #212529 !important;
  padding: 16px !important;
}

.our-service-icon>img {
  width: 60px;
  height: 60px;
}

.our-service-icon {
  z-index: 1;
  background-color: #dc541c;
  margin-right: 10px;
  clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
}

.our-service-icon>img {
  animation: tada 1.5s ease infinite;
  padding: 10px;
}

@keyframes tada {
  0% {
    transform: scale(1);
  }

  10% {
    transform: scale(1.1) rotate(-5deg);
  }

  20% {
    transform: scale(1.1) rotate(5deg);
  }

  30% {
    transform: scale(1.1) rotate(-5deg);
  }

  40% {
    transform: scale(1.1) rotate(5deg);
  }

  50% {
    transform: scale(1.1);
  }

  60% {
    transform: scale(1.1) rotate(-5deg);
  }

  70% {
    transform: scale(1.1) rotate(5deg);
  }

  80% {
    transform: scale(1.1) rotate(-5deg);
  }

  90% {
    transform: scale(1.1) rotate(5deg);
  }

  100% {
    transform: scale(1);
  }
}

.image-container {
  display: inline-block;
  background-color: #dc541c;
  overflow: hidden;
  clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
}

.image-container img {
  transition: transform 1.5s ease;
}

.image-container:hover img {
  transform: rotate(360deg);
}

.lubranta-details {
  background-image: url(../image/background-image.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.populated {
  position: absolute;
  top: 0;
  left: 0;
}

.populated>img {
  width: 111px;
}

.oil-truck {
  position: absolute;
  bottom: 0;
  right: 0;
}

.oil-truck>img {
  width: 200px;
}

.info-box-wrapper {
  border: 1px solid #000;
  margin-bottom: 20px;
  width: calc(45% - 10px);
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.box-detail {
  font-size: 40px;
  font-weight: 600;
  color: #b42423;
}

.shape-image {
  top: 0;
  left: 0;
}

.shape-image>img {
  width: 40px;
  height: 40px;
}

.our-advantages-text {
  color: #b42423 !important;
  font-size: 20px;
  font-weight: 600;
}

.icon-hover {
  color: red;
  transition: color 0.3s ease;
}

.icon-hover:hover {
  color: orange;
}

.our-main>h2 {
  color: #b42423 !important;
}

.product-dd {
  margin-inline-end: 25px;
}

.product-dd {
  position: relative;
  overflow: hidden;
}

.product-dd a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
}

.product-dd::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  background-color: #b42423;
  width: 100%;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.product-dd:first-child::after {
  transform: translateX(0);
}

.product-dd:hover::after {
  transform: translateX(0);
}

.slider-item {
  width: 400px;
  height: 400px;
}

.oil-container {
  position: absolute;
  top: 0;
  left: 0;
}

@media(max-width:640px) {
  .oil-container {
    position: relative;
    text-align: center;
  }
}

.oil-container>img {
  width: 200px;
  height: 70px;
}

/* Benefits Of Our Product */

.benifit-product {
  position: relative;
  z-index: 1;
}

.benifit-product::before {
  content: '';
  background-image: url(../image/composition_of_engine_oil-1.webp);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  background-attachment: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.benifit-product::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.877);
  z-index: -1;
}

.carousel-item>img {
  width: 200px;
  border: 3px solid #b42423;
}
/*  */

.inqury-outer {
  position: relative;
  z-index: 1;
}

.inqury-outer::before {
  content: '';
  background-image: url(../image/lubrication-splash-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  background-attachment: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.inqury-outer::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(27, 27, 27, 0.877);
  z-index: -1;
}

.counter-inner{
  background-color: #fff  ;
  border-radius: 50px;
  width: 90%;
}










.core-valued {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
}

.image-container {
  width: 70px;
  height: 52px; 
  margin: 0 auto;
}

.icon {
  width: 50px; 
  height: auto; 
}

.counter-name {
  color: #b42423;
  font-weight: 500;
  margin-top: 10px; 
}

.counter {
  position: relative;
  left: 50%;
  /* top: -69% !important; */
  transform: translate(-45%, 10%);
  z-index: 10;
  top: -66px;
}
